body
{    
    font-family: "Raleway", Arial, "Times new Roman",sans-serif;
    font-size: 12px; 
    margin: 0px; 

}

h2, button 
{
    font-weight: bold; 
}

h2 
{  
    margin-left: 20px; 
}



#main-wrapper
{
    width: 97%; 
    margin-left: 20px;
}
/* Header */

header
{
    display: flex; 
    justify-content: space-between;
}

header ul
{
    display: flex; 
   
}

header li
{
    margin-right: 20px; 
    list-style-type: none;
    padding-top: 20px; 
}

header a
{
    text-decoration: none; 
}

header a:hover 
{
    color:blue;  
    border-top: black; 

}

@media (max-width: 768px)
{
    header 
    {
        flex-direction: column; 
        align-items: space-between;
    }

    header img 
    {
        width: 20%; 
    }

    #inscription 
    {
        position: absolute; 
        right: 0px; 
        top: 0px; 
        margin-right: 20px; 
        font-size: 1rem; 
        color:rgb(0, 47, 255); 
        font-weight: bold; 

    }

    #inscription:hover
    {
        text-decoration: none; 
        color:rgb(0, 47, 255); 
    }

    header nav 
    {
        display: flex; 
        margin-left: 0px; 
        padding-left: 0px;
        margin-top: 20px; 
        padding: 0px;  
    }

    header ul 
    {
        width: 100%;  
        height: 100%; 
        margin: 0px; 
        padding: 0px; 


    }

    header .nav 
    {
        width: 50%; 
        margin: 0px; 
        text-align: center;
        font-size: 1rem; 
        font-weight: bold;  
        padding: 15px; 

    }

    header .nav a 
    {
        color: grey; 
    }

    header .nav:hover 
    {
        border-bottom: 2px solid rgb(0, 47, 255); 

    }

    header .nav a:hover 
    {
        color:rgb(0, 47, 255); 
    }


    
}

/* Section */

section p:first-child
{
    font-size: 1.2rem; 
    font-weight: 700; 
    margin-bottom: 5px; 
    padding-bottom: 0px; 
}

section p:last-child
{
    margin-top: 0px; 
    padding-top: 0px; 
    
}

form 
{
    display: flex; 
    border: 1px solid grey;  
    width: 300px; 
    border-radius: 10px;
    border-right: none;
    border-left: none;


}

#image {
    width: 5%;
    background: grey; 
    padding: 10px; 
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    border: none; 
}

input[type="search"]{
    border: none;
    width: 63%; 
    font-family:"Raleway", Arial, "Times new Roman",sans-serif;
    font-weight: bold;  
}

.search
{
    background:#0065FC;  
    padding: 4px; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white; 
    border: none;
    width: 32%; 
    
}

#responsive-image 
{
    display: none; 
}

@media (max-width: 768px)
{
    form 
    {
        position: relative; 
    }

    #recherche button
    {
        display: none; 
    }

    #responsive-image 
    {
        display: block;
        background:#0065FC;  
        padding: 10px; 
        border-radius: 10px; 
        color: white; 
        border: none;
        width: 15px;
        height: 20px; 
        position: absolute; 
        top: 0px; 
        right: 0px; 
    }

    #recherche input[type="search"] 
    {
        width: 300px; 
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
  
}


/* Filtres */

.filtres-container {
    display: flex; 
    flex-wrap: wrap; 
    margin-top: 20px; 
    width: 60%;
      
    
}


.container_icone{
    border: 2px solid #DEEBFF; 
    display: flex; 
    width: 130px;
    height: 30px;  
    border-radius: 50px;
    margin-left: 30px; 
    
}

.filtres-container h3 
{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-right: 0px; 
    height: 50px;   
    width: 10%; 
    padding-top: 10px; 
    
}

.filtres-container img {
    width: 10%; 
    padding: 10px; 
    background-color: rgb(0, 174, 255); 
    border-radius: 20px; 
}

.container_icone button {
    background-color: white; 
    width: 200px;
    text-align: center; 
    border-radius: 20px; 
    border: none; 

}


.container_icone button:hover 
{
    text-decoration: underline;
    color:rgb(0, 174, 255); 
}

@media (max-width: 768px)
{
    .filtres-container    
    {
        flex-direction:column; 
        height : 150px; 
        width: 300px; 
        position: relative;  

    }

    .filtres-container h3 
    {
        height: 20px;
        width: 50px;  
    }

     .container_icone 
    {
        position: relative; 
        right: 30px; 
        margin-bottom: 5px;    
        
    } 

    #familial    
    {
        position: absolute; 
        top: 32px; 
        right: 10px; 
    }

    #animal 
    {
        width: 200px; 
    }
}



/* Informations complémentaires en dessous de la zone filtres */

#informations {
    display: flex; 
}

#informations img {
    width: 20px; 
    background-color: white; 
    margin-right: 10px; 
    border-radius: 20px; 
}

/* Main section */

#main-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse; 
}

/* Hebergements à Marseille */

#hebergements a 
{
    text-decoration: none; 
    color: black; 
}

#hebergements{
    flex-wrap: wrap; 
    background-color: #F2F2F2;
    width: 750px; 
    border-radius: 20px; 
    margin-top: 20px; 
}



#lot_offres {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 20px;  
    align-items: stretch; 
    justify-content: space-between;
    width: 100%; 
    height: 500px; 
}

#lot-offres-top{
    display: flex; 
    justify-content: space-around;
}

#lot-offres-bottom{
    display: flex; 
    justify-content: space-around;

}

.offres {
    width: 30%;
    height: 200px;  
    overflow: hidden; 
    border-radius: 20px; 
    background-color: white; 

}



.offres img {
    width: 96%;
    max-height: 100px; 
    padding-top: 4px; 
    padding-left: 4px; 
    padding-right: 4px; 
    margin-bottom: 0px;   
    border-top-right-radius: 20px;   
    border-top-left-radius: 20px;   
}

.offres h3 {
    width: 100%; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    padding-left: 14px;  
}

.offres p {
    margin-top: 2px; 
    padding-left: 14px; 
    height: 20px; 
    margin-bottom : 0px;
    width: 100%;   
}

.notation 
{
    margin-top: 0px; 
    width: 100%;
    height: 40px;
    padding-left: 13px;   
}

.notation img 
{
    width: 10%;  
    height: 20%; 
}

.more-offers 
{
    font-weight: bold; 
    margin-left: 20px; 
    margin-bottom: 50px; 
    border: none; 
}

@media (max-width: 768px)
{
    #hebergements 
    {
        height: 1400px;  

    }

    #lot_offres
    {
        width: 90%; 
        height: 90%; 
        margin-left: 15px; 
        margin-bottom: 20px; 
    }

    .offres 
    {
        height: 30%; 
        width: 100%;  
    }

    .offres .responsive
    {
        width: 97%; 
        margin-left: 2px; 
    }

    

    #lot-offres-top
    {
        flex-direction: column; 
        
    }

    #lot-offres-bottom
    {
        flex-direction: column; 
        
    }

    .notation
    {
        margin-left: 0px;
        padding-left: 0px; 
    }
    
}

/* Les plus populaires */

#second-wrapper {
    width: 30%; 
    background-color: #F2F2F2;
    margin-top: 20px; 
    border-radius: 20px; 
}


#populaire
{
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    width: 100%; 
    height: 100%;   
}

@media (max-width: 1200px)
{
    #second-wrapper {
        width: 750px; 
        background-color: #F2F2F2;
        margin-top: 20px; 
        border-radius: 20px; 

    }
}

#title-section          
{
    
    display: flex; 
    justify-content: space-between; 
    height: 30px; 
    margin-bottom: 15px; 


}

#title-section img 
{
    width: 30px; 
    height: 20px; 
    margin-top: 10px; 
    margin-right: 20px; 
    
}

.populaire-section{
    display: flex; 
    width: 90%;
    height: 25%;  
    border-radius: 20px; 
    margin-bottom: 20px; 
    background-color: white; 
    margin-left: 15px; 
    text-decoration: none; 
    color: black; 
}

.populaire-section img {
    width: 30%;
    height: 95%; 
    margin: 4px 4px 4px 4px;   
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px; 
}

.notes
{
    width: 100%;
    height: 50px; 
    display: flex; 
    align-items: flex-end; 
}

.notes img
{
    width: 10px; 
    align-items: middle; 
    height: 80%; 
    margin-top: 0px;
    color: blue; 
    

}

.description 
{
    margin-left: 10px; 
}

.description h3
{
    
    height: 20%; 
    width: 70%; 
    margin-bottom: 10px;  

}

.description p 
{
    
    margin-top: 0px; 
    height: 30%; 
    margin-bottom: 0px;
}



/* Zone activités à Marseille */

#activites
{
    height: 400px; 
    display: flex; 
    justify-content: space-between; ; 
}

#activites p
{
    font-weight: bold; 
}

#activites a 
{
    text-decoration: none; 
    color: black; 
}

.section-portrait
{
    width: 22%; 
    height: 100%; 
    box-shadow: 2px 2px 5px 5px #F2F2F2; 
    border-radius: 20px; 
}

.section-portrait img 
{
    width: 100%; 
    height: 90%; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
}

.section-portrait p 
{
    margin-left: 10px;
}

.section-paysage 
{
    display: flex; 
    flex-direction: column; 
    margin-left: 30px; 
    width: 20%; 
    
}

.section-top 
{
    width: 100%; 
    height: 60%; 
    margin-bottom: 30px; 
    border-radius: 20px;
    box-shadow: 2px 2px 5px 5px #F2F2F2;  
}

.section-top img 
{
    width: 100%; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    height: 75%;  

}

.section-bottom
{
    width: 100%; 
    height: 33%; 
    box-shadow: 2px 2px 5px 5px #F2F2F2; 
    border-radius: 20px; 

}

.section-bottom img 
{
    width: 100%; 
    height: 70%; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
}

.section-bottom p 
{
    margin-top: 12px; 
}

.section-paysage-right
{
    width: 20%; 
    border-radius: 20px;  
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.section-top-right 
{
    width: 100%; 
    height: 40%; 
    border-radius: 20px; 
    box-shadow: 2px 2px 5px 5px #F2F2F2; 

}

.section-top-right img 
{
    width: 100%; 
    height: 60%; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
}

.section-bottom-right
{
    width: 100%; 
    height: 50%; 
    border-radius: 20px; 
    box-shadow: 2px 2px 5px 5px #F2F2F2; 
}

.section-bottom-right img
{
    width: 100%; 
    height: 80%;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
}

@media (max-width: 768px) 
{
    #activites 
    {
        flex-direction: column; 
        height: 1400px;  
    }

    #activites .section-portrait 
    {
        height: 15%;
        width: 90%;  
        margin-left: 15px; 

    }

    #activites .section-portrait img 
    {
        height: 70%; 
    }

    #activites .section-paysage 
    {
        height: 30%; 
        width: 90%; 
        border-radius: 20px;
        margin-left: 15px; 

    }

    #activites .section-top
    {
        height: 45%;
    }

    #activites .section-bottom
    {
        height: 45%; 
    }

    #activites .section-paysage img 
    {
        height: 70%; 
        width: 100%; 
    }

    #activites .section-paysage-right
    {
        height: 30%; 
        width: 90%; 
        border-radius: 20px; 
        margin-left: 15px; 
    }

    #activites .section-top-right 
    {
        height: 45%; 
    }

    #activites .section-bottom-right 
    {
        height: 45%; 
    }

    #activites .section-top-right img
    {
        height: 70%; 
    }

    #activites .section-bottom-right img 
    {
        height: 70%; 
    }

}

/* Footer */

footer 
{ 
    display: flex; 
    margin-top: 50px;
    margin-left: 0px; 
    margin-right: 0px; 
    background-color: #F2F2F2;  
    height: 200px; 
    align-items: center; 
    width: 100%; 
}

footer .title
{
    margin-bottom: 20px; 
    font-weight: bold; 
}

footer ul 
{ 
    margin-right: 100px; 
    justify-content: space-between;  
    height: 70%; 
    width: 20%;   
}

footer li 
{ 
    list-style-type: none; 
    margin-bottom: 10px; 
    justify-content: center; 
}

@media (max-width: 768px)
{
    footer 
    {
        flex-direction: column; 
        height: 500px;  
        align-items: flex-start; 
    }

    footer ul 
    {
        width: 90%; 
    }
}














  




