body
{    font-family: "Raleway", Arial, "Times new Roman",sans-serif; 

}

#main-wrapper
{
    width: 97%; 
    margin-left: 20px; 
}
/* Header */

header
{
    display: flex; 
    justify-content: space-between;
}

header ul
{
    display: flex; 
   
}

header li 
{
    margin-right: 20px; 
    list-style-type: none;
}

header a
{
    text-decoration: none; 
}

header a:hover 
{
    color: grey; 
    text-decoration: overline;
}

/* Section */

section p:first-child
{
    font-size: 1.2rem; 
    font-weight: 700; 
    margin-bottom: 5px; 
    padding-bottom: 0px; 
}

section p:last-child
{
    margin-top: 0px; 
    padding-top: 0px; 
    
}

form 
{
    display: flex; 

}

#image {
    width: 10px;
    background: grey; 
    padding: 10px; 
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}

input[type="search"]{
    opacity: 0.2; 
}

.search
{
    background:#0065FC;  
    padding: 4px; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white; 
    border: none;
    
}

/* Filtres */

.filtres-container {
    display: flex; 
    margin-top: 20px; 
    position: relative; 
    
}

.filtres-container p {
   position: relative; 
   bottom: 13px;  
}

.container_icone{
    border: 2px solid #DEEBFF; 
    display: flex; 
    width: 150px;
    height: 30px;  
    border-radius: 50px;
    margin-left: 30px;  
}

.filtres-container img {
    width: 10px; 
    padding: 10px; 
    background-color: rgb(0, 174, 255); 
    border-radius: 20px; 
}

.container_icone button {
    background-color: white; 
    width: 100px;
    text-align: center; 
    border-radius: 50px; 
    border: none; 
}

/* Informations complémentaires en dessous de la zone filtres */

#informations {
    display: flex; 
}

#informations img {
    width: 20px; 
    background-color: white; 
    border: 2px solid green; 
    margin-right: 10px; 
    border-radius: 20px; 
}

/* Main section */

#main-section {
    display: flex;
    border: 2px solid purple; 
    justify-content: space-between;
}

/* Hebergements à Marseille */

#hebergements{
    background-color: #F2F2F2;
    border: 4px solid red; 
    width: 65%; 
    border-radius: 20px; 
    margin-top: 20px; 
    vertical-align: top;    
}

#lot_offres {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border: 2px solid red; 
    border-radius: 20px;  
    align-items: stretch; 
    justify-content: space-between;
    width: 100%; 
    height: 500px; 
}

#lot-offres-top{
    display: flex; 
    justify-content: space-around;
}

#lot-offres-bottom{
    display: flex; 
    justify-content: space-around;

}

.offres {
    /* display: block; */ 
    border: 2px solid red; 
    width: 20%;
    height: 200px;  
    overflow: hidden; 
    border-radius: 20px; 
    background-color: white; 

}

.offres img {
    width: 95%;
    max-height: 100px;
    margin-left: 5px;
    margin-top: 4px;  
    margin-bottom: 0px;   
    border: 2px solid blue; 
    border-top-right-radius: 20px;   
    border-top-left-radius: 20px;   
}

.offres h3 {
    border: 2px solid red; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    text-align: center; 
}

.offres p {
    text-align: left; 
    margin-top: 2px; 
    padding-left: 14px; 
}

/* Les plus populaires */

#second-wrapper {
    border: 2px solid blue; 
    width: 30%; 
    background-color: #F2F2F2;
    margin-top: 20px; 
    border-radius: 20px; 
}


#populaire
{
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    border: 2px solid orange; 
    width: 100%; 
    height: 100%;    
}

.populaire-section{
    display: flex; 
    width: 90%;
    height: 25%;  
    border: 2px solid red; 
    border-radius: 20px; 
    margin-bottom: 20px; 
}

.populaire-section img {
    width: 30%;
    height: 90%; 
    margin: 4px 4px 4px 4px;   
    border: 2px solid yellow; 
    border-radius: 20px; 
}

.img {
    display: flex; 
    border: 2px solid yellow; 
}

/* Zone activités à Marseille */

#third-wrapper 
{
    border: 2px solid green; 
    height: 400px; 
    display: flex; 
    justify-content: space-between; ; 
}

.section-portrait
{
    width: 22%; 
    height: 100%; 
    border: 2px solid red; 
}

.section-portrait img 
{
    width: 100%; 
    height: 90%; 
    border-radius: 20px; 
}

.section-portrait p 
{
    margin-left: 10px;
}

.section-paysage 
{
    display: flex; 
    flex-direction: column; 
    margin-left: 30px; 
    border: 5px solid red; 
    width: 20%; 
}

.section-top 
{
    width: 100%; 
    height: 55%; 
    border: 2px solid red; 
    margin-bottom: 30px; 
    border-radius: 20px; 
}

.section-top img 
{
    width: 100%; 
    border-radius: 20px; 

}

.section-bottom
{
    width: 100%; 
    height: 35%; 
    border: 2px solid red; 

}

.section-bottom img 
{
    width: 100%; 
    height: 80%; 
    border-radius: 20px; 
}

.section-paysage-right
{
    width: 20%; 
    border: 2px solid red;
    border-radius: 20px;  
}

.section-top-right 
{
    border: 2px solid blue; 
    width: 100%; 
    height: 50%; 
    border-radius: 20px; 
}

.section-top-right img 
{
    width: 100%; 
    height: 80%; 
    border-radius: 20px; 
}

.section-bottom-right
{
    border: 2px solid blue; 
    width: 100%; 
    height: 50%; 
    border-radius: 20px; 
}

.section-bottom-right img
{
    width: 100%; 
    height: 80%;
    border-radius: 20px; 
}

/* Footer */

footer 
{ 
    display: flex; 
    margin-top: 50px;
    background-color: grey; 
    height: 200px; 
    align-items: center; 
}

footer .title
{
    margin-bottom: 20px; 
}

footer ul 
{ 
    margin-right: 100px; 
    
}

footer li 
{ 
    list-style-type: none; 
    margin-bottom: 10px; 
}

footer .first-element
{ 
    margin-top: 50px; 
}

footer .titleone 
{ 
    border: 2px solid green; 
    margin-bottom: 0px; 
    position: relative; 
    top: 28px; 
}














  




