body
{
    font-family: "Raleway", Arial, "Times new Roman",sans-serif; 
}

#main-wrapper
{
    width: 90%; 
}
/* Header */

header
{
    display: flex; 
    justify-content: space-between;
}

header ul
{
    display: flex; 
   
}

header li 
{
    margin-right: 20px; 
    list-style-type: none;
}

header a
{
    text-decoration: none; 
}

header a:hover 
{
    color: grey; 
    text-decoration: overline;
}

/* Section */

section p:first-child
{
    font-size: 1.2rem; 
    font-weight: 700; 
    margin-bottom: 5px; 
    padding-bottom: 0px; 
}

section p:last-child
{
    margin-top: 0px; 
    padding-top: 0px; 
    
}

form 
{
    display: flex; 

}



#image {
    width: 10px;
    background: grey; 
    padding: 10px; 
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
}

input[type="search"]{
    opacity: 0.2; 
}

button
{
    background:#0065FC;  
    padding: 4px; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white; 
    border: none;
    
}

/* Filtres */

#filtres {

    display: flex; 
    margin-top: 15px; 
    border: 2px solid red; 
    width: 100%; 
}

#filtres button {
    margin-left: 100px; 
    background: white; 
    color: black; 
    border: 1px solid grey;
    border-radius: 20px; 
    width: 15%;
    height: 50px; 
    text-align: right;
    padding-right: 20px; 
    border: 2px solid green; 
    position: relative; 
    
}

#economique:before
{
position: absolute; 
right: 100px; 
top: 10px; 
float: left;
width: 2em;
text-align: center; 
padding:0.3em; 
pointer-events: none; 
content: url("Projet 2 - Reservia 2/images/money-bill-wave-solid.svg"); 
background: blue; 
border-radius: 20px; 
}





